@using NuGetGallery;
<!DOCTYPE html> 
<html lang="en" class="static "> 
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Chocolatey Gallery @ViewBag.TitleAppend</title> 
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />
        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")"></script>
        @MvcMiniProfiler.MiniProfiler.RenderIncludes()
        @Microsoft.Web.Helpers.Analytics.GetGoogleHtml("UA-2743882-12")
    </head>
    <body>
        <div id="content-wraper">
            <header class="main">
                <div id="logo"><a href="@Url.Home()">Chocolatey Gallery</a></div>
                @Html.Partial(MVC.Shared.Views.UserDisplay)
            </header>
            <nav class="main">
                <ul id="menu">
                    @{
                        var homeClass = ViewBag.Tab == "Home" ? "current" : "";
                        var packagesClass = ViewBag.Tab == "Packages" ? "current" : "";
                        var uploadClass = ViewBag.Tab == "Upload" ? "current" : "";
                    }
                    <li class="@homeClass"><a href="@Url.Home()">Home</a></li>
                    <li class="@packagesClass"><a href="@Url.PackageList()">Packages</a></li>
                    <li class="@uploadClass"><a href="@Url.UploadPackage()" class="upload">Upload Package</a></li>
                    <li><a href="https://github.com/chocolatey/chocolatey/wiki">Documentation*</a></li>
                    <li><a href="https://github.com/chocolatey/chocolatey">Project*</a></li>
                    <li><a href="http://groups.google.com/group/chocolatey">Forum*</a></li>
                </ul>
                <div id="searchBox">
                    <form action="@Url.PackageList()" method="get">
                        <input name="q" id="searchBoxInput" placeholder="Search Packages" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)" />
                        <input id="searchBoxSubmit" type="submit" value=" " />
                    </form>
                </div>
            </nav>
            <div id="body">
            @if (TempData.ContainsKey("Message")) {
                <p class="message">@TempData["Message"]</p>
            }
            @RenderBody()
            </div>
        </div>
        <div id="layout-footer" class="group">
            <footer id="footer">
                <ul class="recommended">
                    <li>
                        <a href="https://github.com/chocolatey/chocolatey/wiki">Overview</a>
                        <p>Where did Chocolatey get it's name? What exactly is chocolatey anyway?</p>
                    </li>
                    <li>
                        <a href="http://groups.google.com/group/chocolatey">Discussion</a>
                        <p>Find a possible bug? Got a feature request? Get involved in the discussion!</p>
                    </li>
                    <li>
                        <a href="http://bit.ly/chocolateyVideo">Video</a>
                        <p>Want to see Chocolatey in action?</p>
                    </li>
                    <li>
                        <a href="https://github.com/chocolatey/chocolatey/wiki/ChocolateyFAQs">FAQ</a>
                        <p>Read the Frequently Asked Questions about Chocolatey.</p>
                    </li>
                </ul>
                <div class="license">
                    <p>
                        <a href="https://twitter.com/chocolateynuget" class="twitter-follow-button" data-show-count="true" data-width="250px" data-lang="en">Follow @@chocolateynuget</a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="chocolatey" data-lang="en">Tweet</a> 
                        <script type="text/javascript">
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");
                        </script>
                        <br />
                        &copy; @DateTime.UtcNow.Year FerventCoder Software.
                    </p>
                    @ViewHelpers.ReleaseTag() 

                </div>
            </footer>
        </div>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
        @RenderSection("BottomScripts", required: false)
        <script type="text/javascript">var switchTo5x = true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
        <script type="text/javascript">
            var options = { "publisher": "ur-c2abd95b-4a79-34b2-10fc-622d72ca1889", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0 }, "chicklets": { "items": ["twitter", "linkedin", "instapaper", "delicious", "email", "sharethis"]} };
            var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
        </script>
    </body>
</html>